.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
}

@media (min-width: 768px) {
  .cards-container.custom-md-grid{
    grid-template-columns: repeat(var(--grid-columns), 1fr);
  }
}
