<div class="w-100 slider-container overflow-hidden" (mouseenter)="pauseTimer()" (mouseleave)="initTimer(false)" >
  <button type="button" class="control control-left" (click)="increaseSlider(-1)">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button type="button" class="control control-right" (click)="increaseSlider(1)">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
  <ul>
    <ng-container *ngFor="let slide of slides; let i = index">
      <li class="point d-flex shadow-sm" [class.active]="currentSliderIndex === i">
        <button type="button" class="border-0 opacity-0 w-100 h-100" (click)="currentSliderIndex = i"></button>
      </li>
    </ng-container>
  </ul>
  <ng-container *ngFor="let slide of slides; let i = index">
    <img
    class="slide"
    [class.active]="currentSliderIndex === i"
    [class.next]="nextSlide() === i"
    [class.prev]="prevSlide() === i"
    [src]="slide">
  </ng-container>
</div>
