.base-container{
  background: linear-gradient(white, rgba(var(--bs-secondary-rgb), .1));
  overflow: hidden;
}

.container{
  height: calc(100vh);
  height: calc(100svh);
  padding-top: var(--nav-height);
  display: flex;
}

.bg-container{
  position: relative;
  flex-basis: 60%;
  &::before{
    content: '';
    border-radius: 50%;
    width: 200%;
    aspect-ratio: 1;
    background-color: var(--bs-primary);
    position: absolute;
    top: 60%;
    right: -50%;
    z-index: 0;
  }
  .banner-img {
    width: auto;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.content-container{
  position: relative;
  flex-basis: 40%;
  flex-shrink: 0;
  z-index: 1;
}

@media (min-width: 1024px){
  .bg-container{
    flex-basis: 40%;
    .banner-img {
      width: auto;
      height: 100%;
      transform: translateX(-50%) scaleX(-1);
    }
  }
  .content-container{
    flex-basis: 60%;
  }
}
