<div class="base-container w-100">
  <div class="container flex-column flex-lg-row">
    <div class="content-container d-flex flex-column justify-content-center">
      <h1 class="display-1 fw-semibold">Adote um <br>Amigo Peludo</h1>
      <p class="fw-semibold text-muted">Descubra a Alegria da Adoção e Ajude a Transformar Vidas.</p>
      <div class="btns">
        <button type="button" class="btn btn-primary">Fale conosco</button>
      </div>
    </div>
    <div class="bg-container">
      <img class="banner-img" [src]="bannerImg" alt="" srcset="">
    </div>
  </div>
</div>
