<app-banner></app-banner>
<section class="">
  <div class="container">
    <h2 class="fw-semibold">Encontre seu Amigo Peludo no FurryHaven</h2>
    <h5 class="fw-semiboldd">Um Lar de Amor para Animais Resgatados</h5>
    <p>Bem-vindo ao FurryHaven, um abrigo dedicado a resgatar, proteger e encontrar lares amorosos para animais abandonados. Acreditamos que todos os animais merecem uma segunda chance e estamos empenhados em fornecer cuidados amorosos e reabilitação para aqueles que precisam.</p>
    <p>No FurryHaven, promovemos a adoção responsável e a conscientização sobre o bem-estar animal. Nossos animais resgatados são provenientes de situações difíceis, mas encontraram esperança e amor em nosso abrigo. Cada um deles tem uma história única, repleta de superação e gratidão.</p>
    <p>Ao adotar um animal do FurryHaven, você estará fazendo mais do que apenas dar um lar a um amigo peludo. Você estará proporcionando alegria, companheirismo e uma nova chance de vida. Nossos animais estão ansiosos para encontrar uma família amorosa e dedicada, pronta para compartilhar momentos de felicidade e criar memórias inesquecíveis.</p>
    <p>Navegue pelo nosso site e conheça as histórias inspiradoras de animais que encontraram um lar afetuoso através do FurryHaven. Ao adotar um animal, você estará fazendo uma escolha que muda vidas, e nossa equipe estará disponível para orientá-lo durante todo o processo de adoção.</p>
    <p>Junte-se a nós nesta missão de amor pelos animais. Venha visitar o FurryHaven, conheça nossos animais e experimente a alegria de adotar um amigo peludo. Sua contribuição fará a diferença na vida desses animais e encherá seu coração de gratidão e amor.</p>
  </div>
</section>
<section class="bg-secondary bg-opacity-10">
  <div class="container">
    <h2 class="fw-semibold mb-4">{{cardsTitle}}</h2>
    <app-grid-cards [cardsList]="cardsList"></app-grid-cards>
    <p class="mt-5">Essas são apenas algumas das muitas histórias inspiradoras de animais resgatados que encontraram um lar amoroso graças ao FurryHaven. Através do nosso abrigo, proporcionamos uma segunda chance a esses animais, ajudando-os a superar seu passado e criar um futuro cheio de alegria e felicidade.</p>
    <p class="m-0">Ao adotar um animal do FurryHaven, você estará contribuindo para essas histórias de sucesso. Venha conhecer nossos animais disponíveis para adoção e faça parte desta jornada incrível de transformação e amor.</p>
  </div>
</section>
<section class="">
  <div class="container">
    <h2 class="fw-semibold mb-4">Conheça Nossos Amigos Peludos</h2>
    <p class="mb-3">Nossa galeria de fotos apresenta uma variedade encantadora de animais resgatados que estão em busca de um lar amoroso. Cada um deles possui uma personalidade única e espera ansiosamente por alguém especial para compartilhar amor e alegria. Explore a galeria abaixo e conheça alguns dos nossos amigos peludos disponíveis para adoção:</p>
    <app-slider></app-slider>
    <p class="mt-3">Esses amigos peludos estão esperando por alguém como você para lhes dar um novo começo. Cada animal tem suas próprias necessidades e requisitos, mas todos eles compartilham a capacidade de oferecer amor incondicional e fidelidade.</p>
    <p>A adoção de um animal do FurryHaven não apenas transformará a vida do animal, mas também preencherá a sua vida com amor e felicidade. Venha conhecer nossos amigos peludos pessoalmente e descubra o vínculo especial que só pode ser criado por meio da adoção.</p>
  </div>
</section>