nav.navbar {
  position: sticky;
  height: 0;
  overflow: visible;
  top: -100%;
  z-index: 100;
  padding: 0;
  &.sticky-top {
    top: 0%;
    .nav-bg-container{
      background-color: var(--bs-body-bg);
      border-bottom: 1px solid var(--bs-border-color);
      box-shadow: 0px 0px 8px var(--bs-gray-500);
    }
  }
}

.nav-container {
  .nav-left{
    place-items: center;
    height: var(--nav-height);
  }
}

ul {
  list-style-type: none;
}

.nav-link {
  --fx-color: var(--bs-body-color);
  position: relative;
  overflow: hidden;
  padding: 0.5rem 0.75rem;
  opacity: 0.5;
  &.active,
  &:hover {
    opacity: 1;
  }
  &.active {
    --fx-color: var(--bs-primary);
    color: var(--bs-primary);
  }
}
